<!DOCTYPE html>
<html>
  <head>
    <title>Shochastic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="vendor/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="container sticky-top bg-light">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-4 text-dark text-decoration-none">
          <span class="fs-4 me-2 text-uppercase">Bernoulli Distribution</span>
        </a>
        <div class="col-md-8 text-end">
          <a href="/docs" class='btn btn-outline-primary'>Tutorial</a>
          <a href="/docs" class='btn btn-outline-primary'>Documentation</a>
        </div>
      </header>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
